<header>
  <container>
    <ng-content></ng-content>
    <div class="grid-x">
      <div class="medium-5">
        <h1 class="title">
          Build The Community <br class="show-for-small" />
          Your Fans Will Love
        </h1>
        <p>
          Huddle re-imagines the way we build communities. You have a voice, but
          so does your audience. Create connections with your users as you
          engage in genuine discussion.
        </p>
        <button class="button secondary">Get Started For Free</button>
      </div>
      <div class="medium-6 medium-offset-1">
        <img src="../../assets/illustration-mockups.svg" alt="" />
      </div>
    </div>
  </container>
</header>
