<app-header>
  <navbar></navbar>
</app-header>

<section-container
  [title]="'Grow Together'"
  [about]="
    'Generate meaningful discussions with your audience and build a strong, loyal community. Think of the insightful conversations you miss out on with a feedback form.'
  "
  [imageSrc]="'../../assets/illustration-grow-together.svg'"
></section-container>

<section-container
  [title]="'Flowing Conversations'"
  [about]="
    'You wouldn\'t paginate a conversation in real life, so why do it online? Our threads have just-in-time loading for a more natural flow.'
  "
  [imageSrc]="'../../assets/illustration-flowing-conversation.svg'"
  [switch]="true"
></section-container>

<section-container
  [title]="'Your Users'"
  [about]="
    '  It takes no time at all to integrate Huddle with your apps authentication solution. This means, once signed in to your app, your users can start chatting immediately.'
  "
  isLast="true"
  [imageSrc]="'../../assets/illustration-grow-together.svg'"
></section-container>

<app-footer></app-footer>
